PORT=5001

# The connection string from MongoDB Atlas (Cluster0 in Pune)
# Removed the < > from around your password
MONGO_URI=mongodb+srv://kavipriya2601_db_user:5uyKXfnQrT24AENe@cluster0.pzpq6iq.mongodb.net/blog?retryWrites=true&w=majority